.box {
  user-select: none;
  position: relative;
  height: 100%;
  /* default bg */
  background: var(--dark-blue);
}
.box:active > .box__main {
  background-color: var(--desatured-blue);
}

.box__main {
  font-size: 16px;
  background-color: var(--dark-blue);
  position: absolute;
  padding: 0 25px;
  width: 100%;
  bottom: 0;
  height: 80%;
}
.box__main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box__main-title {
  margin: 20px 0;
  font-size: 1rem;
  font-weight: 500;
}
.box__main-menu {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.box__main-menu:hover {
  cursor: pointer;
}
.box__main-menu:hover img {
  filter: brightness(2);
}

.box__main-hours {
  font-size: min(5vw, 3rem);
  margin-bottom: 4px;
}
.box__main-last-hours {
  color: var(--pale-blue);
  font-size: 0.8rem;
  font-weight: 500;
}

.bg-work {
  background: var(--work) url("../../../assets/images/icon-work.svg");
}
.bg-play {
  background: var(--play) url("../../../assets/images/icon-play.svg");
}
.bg-study {
  background: var(--study) url("../../../assets/images/icon-study.svg");
}
.bg-exercise {
  background: var(--exercise) url("../../../assets/images/icon-exercise.svg");
  background-position: 125px 0;
  background-repeat: no-repeat;
}
.bg-social {
  background: var(--social) url("../../../assets/images/icon-social.svg");
}
.bg-self-care {
  background: var(--self-care) url("../../../assets/images/icon-self-care.svg");
}

.bg-work,
.bg-play,
.bg-study,
.bg-social,
.bg-self-care {
  background-repeat: no-repeat;
  background-position: top 0% right 20%;
  background-size: 30%;
}

@media (max-width: 768px) {
  .box__main {
    padding: 0 15px 21px;
    display: grid;
    grid-template-areas:
      "header header"
      "hrs lasthrs"
    ;
  }
  .box__main header {
    font-size: 0.7rem;
    margin: 0;
    height: 20px;
    margin-top: 20px;

    grid-area: header;
  }
  .box__main-hours,
  .box__main-last-hours {
    display: inline;
  }
  .box__main-hours {
    margin: 0;
    grid-area: hrs;
    font-size: 1.2rem;
    align-self: flex-end;
  }
  .box__main-last-hours {
    grid-area: lasthrs;
    text-align: right;
    align-self: flex-end;
  }
}
