
<div *ngIf="activity" [ngClass]="bgStyle ? 'box ' + bgStyle : 'box'" >
    <div class="box__main">
        <header>
            <h2 class="box__main-title">{{activity.title}}</h2>
            <div class="box__main-menu">
                <img src="../../../assets/images/icon-ellipsis.svg">
            </div>
        </header>

        <ng-container *ngIf="getSelectedTime() === 'daily'">
        <div class="box__main-hours">{{activity.timeframes.daily.current}}hrs</div>
        <div class="box__main-last-hours">Last Week - {{activity.timeframes.daily.previous}}hrs</div>
    </ng-container>
    <ng-container *ngIf="getSelectedTime() === 'weekly'">
        <div class="box__main-hours">{{activity.timeframes.weekly.current}}hrs</div>
        <div class="box__main-last-hours">Last Week - {{activity.timeframes.weekly.previous}}hrs</div>
    </ng-container>
    <ng-container *ngIf="getSelectedTime() === 'monthly'">
        <div class="box__main-hours">{{activity.timeframes.monthly.current}}hrs</div>
        <div class="box__main-last-hours">Last Week - {{activity.timeframes.monthly.previous}}hrs</div>
    </ng-container>
    </div>
</div>
