.box {
  position: relative;
  height: 100%;
  background: var(--work) url("../../assets/images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 125px -15px;
}

.box__main {
  font-size: 16px;
  background-color: var(--dark-blue);
  position: absolute;
  padding: 0 25px;
  width: 100%;
  bottom: 0;
  height: 80%;
}
.box__main header {
  position: relative;
}

.box__main-title {
  margin: 20px 0;
  font-size: 16px;
}
.box__main-menu {
  position: absolute;
  right: 4px;
  top: 0px;
}
.box__main-hours {
  font-size: 54px;
  margin-bottom: 4px;
}
