.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-blue);
}
.user__main {
  height: 67%;
  padding: 26px;
  background-color: var(--blue);
}
.user__main-avatar {
  height: 76px;
  width: fit-content;
  border-radius: 50%;
  border: 3px solid white;
}
.user__main-avatar img {
  height: 100%;
}
.user__main-info h4 {
  margin-bottom: 0;
  color: var(--pale-blue);
  font-weight: 400;
}
.user__main-info p {
  margin: 0;
  font-size: clamp(1rem, 3vw, 3rem);
}

.user__time {
  height: 33%;
}
.user__time > ul {
  user-select: none;
  height: 100%;
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  justify-content: space-evenly;
}

.user__time > ul > li {
  color: var(--pale-blue);
  font-weight: 400;
}
.user__time > ul > li.selected {
  color: var(--white);
}

.user__time > ul > li:hover {
  cursor: pointer;
  color: var(--white);
}

@media (max-width: 768px) {
  .user {
    height: max(135px, 30vw);
  }
  .user__main {
    height: 88px;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .user__main-avatar {
    height: 48px;
  }
  .user__main-info {
    display: flex;
    flex-direction: column;
  }
  .user__main-info h4 {
    font-size: 0.6rem;
    margin-top: 0;
    margin-bottom: 2px;
  }

  .user__time {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    }
  .user__time ul {
    font-size: 0.8rem;
    margin: 0;
    height: 47px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
