main {
  width: 100vw;
  padding: 0 5%;
  max-width: 964px;
  height: 450px;

  display: grid;
  gap: 27px;
  grid-template-columns: 23% 74%;

  margin: 0 auto;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 55px 17px;
    width: initial;
    gap: 16px;
  }
}
